@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
#top_text{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: black;
    display: flex;
    align-items: center;
}
header{
    display: none;
}
header details{
    position: fixed;
    right: 20px;
    top: 20px;
    color: white;
}
header a{
    color: black;
    font-size: 16px;
}
header details ul{
    position: absolute;
    right: 100%;
    list-style: none;
    width: max-content;
    background-color: white;
    border-radius: 5px;
}
header details ul li{
    padding: 5px 15px;
    cursor: pointer;
}
header details ul li:hover{
    background-color: gray;
}
header summary{
    list-style: none;
}
body{
    background: linear-gradient(black, black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}
body{
    background: linear-gradient(black, black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Pacifico;
}
.top_text{
    display: flex;
}
#TheImagine_logo{
    height: 55px;
    margin-left: 5px;
    margin-top: 10px;
}
#TheImagine_text{
    font-weight: bold;
    margin-top: 8px;
    margin-left: 35px;
    font-size: 35px;
    color: white;
    text-decoration: none;
    font-family: Pacifico;
}
#logo_sign{
    margin-left: 15px;
}
.navigation{
    display: flex;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 60px;
    text-decoration: none;
    font-family: Pacifico;
    transition: 0.2s ease;  
}
#navigation{
    margin-top: 0px;
    position: fixed;
    right: 30px;
    left: auto;
}
/*top_text animation*/
.navigation:hover{
    color: gray;
}
#gallery{
    color: gray;
}
#card{
    border-radius: 10px;
    text-align: center;
    color: white;
}
a{
    color: white;
    font-family: Pacifico;
    font-size: 18px;
}
#container_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
    margin: 30px;
    margin-top: 150px;
}
#card{
    height: 200px;
    padding-top: 80px;
    padding-bottom: 80px;
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    transition: 0.5s ease;
}
#card:hover{
    transform: scale3d(1.03);
    background-color: white;
    color: black;
    box-shadow: 0 0 55px white;
    a{
        color: black;
    }
}
#information h1{
    color: white;
    font-family: Pacifico;
    font-size: 50px;
}
#information h3{
    color: white;
    font-family: Pacifico;
    font-size: 35px;
}
#information p{
    color: white;
    font-family: Pacifico;
    font-size: 15px;
    max-width: 600px;

}
#information_box{
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#card{
    animation: autoShowAnimation;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@media(max-width:995px){
    .navigation{
        position: absolute;
        display: none;
    }
    #top_text{
        background-color: black;
        width: 100%;
        height: 60px;
    }
    header{
        display: flex;
    }
    #TheImagine_text{
        font-weight: bold;
        margin-top: 17px;
        margin-left: 15px;
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-family: Pacifico;
    }
    #content{
        display: block;
        margin-top: 100px;
    }
    #container_box{
        margin-top: 120px;
        margin-bottom: 150px
    }
    #information_box{
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
    }
    #leap_image_box{
        display: flex;
        justify-content: center;
        margin-left: 20px;  
        margin-right: 30px;      
        margin-bottom: 20px;
        margin-top: 100px;
    }
    #logo_sign{
        margin-bottom: 20px;
    }
}
::-webkit-scrollbar{
    width: 10px;
    background: hsl(0, 0%, 40%);
    border-radius: 10px; 
}
::-webkit-scrollbar-track{
    color: hsl(0, 0%, 0%);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: black;
    border: 3px solid hsl(0, 0%, 40%);
}
